@using ClientDependency.Core.Mvc
@using Our.Umbraco.MembershipStarterKit.Models.ViewModels
@inherits UmbracoViewPage<ForgotPassword>
@{
    Layout = "Master.cshtml";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJsBundle("ValidationScripts");
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h1 class="display-4 my-4 text-center">Forgot Password</h1>
            <p class="text-center">
                Enter your email address below to be sent a password reset link.
            </p>
            @Html.Partial("Forms/_ForgotPasswordForm", new ForgotPasswordViewModel())
        </div>
    </div>
</div>