@using ClientDependency.Core.Mvc
@inherits UmbracoViewPage<SignIn>
@{
    Layout = "Master.cshtml";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJsBundle("ValidationScripts");
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h1 class="display-4 my-4 text-center">Sign In</h1>
            @Html.Action("SignIn", "SignIn")
        </div>
    </div>
</div>