@inherits UmbracoViewPage<ConfirmEmail>
@{
    Layout = "Master.cshtml";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            @Html.Action("ConfirmEmail", "ConfirmEmail", new { Token = Request["token"] })
        </div>
    </div>
</div>