@inherits UmbracoViewPage<Register>
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";

    var home = (Home)Model.Site();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJsBundle("ValidationScripts");
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h1 class="display-4 my-4 text-center">Register</h1>
            @Html.Partial("Forms/_RegisterForm", new Umbraco.SampleSite.Models.ViewModels.RegisterViewModel
            {
                UsernameIsEmail = home.GetPropertyValue<bool>("usernameIsEmail")
            })
        </div>
    </div>
</div>