@using Our.Umbraco.MembershipStarterKit.Models.EmailModels
@model ConfirmationEmailModel
<h1>Thanks for joining @Model.SiteName!</h1>
<p>Hi @Model.FirstName,</p>
<p>We've finished setting up your account. We just need you to confirm that we have the correct email address. Click the link below to confirm.</p>
<a href="@Model.ConfirmEmailUrl">Confirm Email Address</a>