@using Our.Umbraco.MembershipStarterKit.Models.EmailModels
@model PasswordResetEmailModel
<h1>Reset your @Model.SiteName password</h1>
<p>Hi @Model.FirstName,</p>
<p>Click the link below to reset your password.</p>
<a href="@Model.PasswordResetUrl">Reset Password</a>